PORT=3001
PUBLIC_BASE_URL=http://127.0.0.1:3001
JWT_SECRET=change-this-long-random-secret

MYSQL_HOST=84.8.112.83
MYSQL_PORT=3306
MYSQL_DATABASE=tahdiri
MYSQL_USER=tahdiri_user
MYSQL_PASSWORD=put-password-here

